* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #CCFFFF;
}

header {
  text-align: center;
  font-weight: bold;
}

h2 {
  color: red;
  text-align: center;
}

header {
  margin-bottom: 30px;
}

#profile {
  margin-bottom: 30px;
}

#profile ul {
  text-align: center;
  list-style: none;
}

#profile h2 {
  margin-bottom: 20px;
}

#apps h2 {
  margin-bottom: 30px;
}

#apps img {
  width: 100%;
  margin:0 auto 20px auto;
}

footer {
  text-align: center;
  margin-top: 60px;
  padding-top: 10px;
  border-top: solid 1px #ddd;
}